<%= form_for @conn, Routes.pantry_path(@conn, :generate_meals), fn f -> %>
    <label for="">
        Days
        <%= number_input f, :days, required: true, min: 2, max: 10, value: 2 %>
    </label>
    <%= submit "Generate" %>
<% end %>