<section class="row">
    <article class="column">
        <h3>My Meals</h3>
        <%= for {meal, index} <- Enum.with_index(@meals) do %>
            <h3>Meal <%= index + 1 %></h3>
            <ul>
                <%= for item <- meal do %>
                    <li><%= item.name %></li>
                <% end %>
            </ul>
        <% end %>
        <%= link "Generate Meals", to: BirmaWeb.Router.Helpers.pantry_path(@conn, :generate) %>
    </article>
    <article class="column">
        <%= link "Manage Pantry", to: BirmaWeb.Router.Helpers.pantry_path(@conn, :manage) %>
    </article>
</section>
