<h1>Add items to pantry</h1>
<% items = Enum.map(@items, fn i -> {i.name, i.id} end) %>
<%= form_for @conn, Routes.pantry_path(@conn, :add), fn f -> %>
    <%= multiple_select f, :pantry_items, items %>
    <%= submit "Add" %>
<% end %>