<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Birma · Phoenix Framework</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
  </head>
  <body>
    <header>
      <section class="container">
        <nav role="navigation">
          <ul>
            <li>
              <%= if veil_user_id = assigns[:veil_user_id] do %>
                Authenticated as <%= veil_user_id %>
                <a href="<%= Routes.session_path(@conn, :delete, @session_unique_id) %>">Sign out</a>
              <% else %>
                <a href="<%= Routes.user_path(@conn, :new) %>">Sign in</a>
              <% end %>
            </li>
            <li><%= link "Catalog", to: Routes.page_path(@conn, :catalog) %></li>
            <li><%= link "Pantry", to: Routes.pantry_path(@conn, :index) %></li>
            <li><%= link "Graphiql", to: "/api/graphiql" %></li>
          </ul>
          </ul>
        </nav>
        <a href="http://phoenixframework.org/" class="phx-logo">
          <img src="<%= Routes.static_path(@conn, "/images/phoenix.png") %>" alt="Phoenix Framework Logo"/>
        </a>
      </section>
    </header>
    <main role="main" class="container">
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
      <%= render @view_module, @view_template, assigns %>
    </main>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
