<% meats = Enum.filter(@items, fn item -> item.type == "meat" end) %>
<% veggies = Enum.filter(@items, fn item -> item.type == "vegetable" end) %> 
<h1>Item Catalog</h1>
<section class="row">
    <article class="column">
        <h3>Meats</h3>
        <ul>
            <%= for meat <- meats do %>
                <li><%= meat.name %></li>
            <% end %>
        </ul>
    </article>
    <article class="column">
        <h3>Vegetables</h3>
        <ul>
            <%= for veggie <- veggies do %>
                <li><%= veggie.name %></li>
            <% end %>
        </ul>
    </article>
</section>
